<div class="row" *ngIf="product">
  <div class="medium-4 columns folder">
    <img [src]="product.photo" class="thumbnail" />
    <i aria-hidden="true" class="fav fa fa-2" [ngClass]="isFavorite(product.id)" (click)="onFavoriteClick(product.id)"></i>
  </div>
  <div class="medium-8 columns">
    <h3>{{ product.name }}</h3>
    <p>
      <span class="label" [ngClass]="{
        'info': product.category.id === 1,
        'alert': product.category.id === 2,
        'warning': product.category.id === 3 }">
        {{ product.category.name }}
      </span>

      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
      | Blue Path                                                        |
      |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
      | Una vez tengas creado el Pipe PublicationDatePipe, úsalo con la  |
      | fecha de publicación.                                            |
      |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

      <span>
        {{ product.publishedDate | publicationDate }}
      </span>
    </p>
    <p [innerHtml]="product.description"></p>
    <app-user-profile [userId]="product.seller.id"></app-user-profile>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Purple Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Aplica el siguiente formato al precio del producto:              |
    |   - 1 dígito mínimo (parte entera)                               |
    |   - 2 dígitos mínimo y máximo (parte decimal)                    |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <button *ngIf="product.state === 'selling'"
            (click)="showPurchaseWarning()"
            class="button large expanded">
      Comprar por {{ product.price | number:'1.2-2' }} €
    </button>
    
  </div>
  <!-- Confirmation alert -->
  <p-confirmDialog header="Confirmación de compra" width="625" #cd></p-confirmDialog>

  <div class="medium-8 columns">
    <h3>Más artículos del vendedor</h3>
    <div *ngIf="products?.length > 0" class="small-up-2 medium-up-4 large-up-6">
      <app-product
        *ngFor="let product of products"
        [data]="product"      
        class="column"
        (productSelected)="onProductSelected($event)"
        (toggleFavorite)="onFavoriteClick($event)">
      </app-product>
    </div>
    <div *ngIf="products?.length === 0" class="text-center">
      <span>No se han encontrado productos.</span>
    </div>
    <button (click)="goBack()" class="warning button expanded">Volver</button>
  </div>
</div>


