<div *ngIf="data">
  <img [src]="data.photo" class="thumbnail" (click)="onProductClick(data.id)" />
  <i aria-hidden="true" class="fa" [ngClass]="isFavorite(data.id)" (click)="onFavoriteClick(data.id)"></i>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Green Path                                                       |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Un clic en el botón de compra debería enviar un evento al        |
  | componente padre.                                                |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path                                                      |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Aplica el siguiente formato al precio del producto:              |
  |   - 1 dígito mínimo (parte entera)                               |
  |   - 2 dígitos mínimo y máximo (parte decimal)                    |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <button
    class="button expanded"
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'"
    (click)="onProductClick(data.id)">
      <span *ngIf="data.state === 'selling'">
        Comprar por {{ data.price | price }} €
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>
